{% extends 'base.html' %}
{% load staticfiles %}
{% now "Y-m-d" as todays_date %}

{% block title %}
<title>Кейтеринг | Стандартное меню</title>
{% endblock %}

{% block content %}

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-2">
            <h3 class="lg text-uppercase font-size-26 font-size-767-18">Стандартное меню<br><span class="font-size-18 font-size-767-13">Комплексные обеды</span></h3>


        </div>
        <div class="row clearfix">
            <div class="awe-hr col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                <i class="icon awe_certificate color-black"></i>
            </div>
        </div>

            <div class="ribbon ribbon-3 margin-bottom-10">
                <h2 class="sm text-uppercase"><span class="font-size-767-15">выберите дату</span></h2>
            </div>

        <div class="row clearfix">
            <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                <select class="select-custom" name="" id="menu_date">
                    {% for active_date in active_dates %}
                                {% if active_date.active %}
{#                                {% if todays_date <  active_date.date|date:"Y-m-d" %}#}
                        <option value="{{ active_date.date|date:"d.m.Y" }}" {% if active_date.date|date:"d.m.Y" == menu_date %} selected{% endif %}>{{ active_date.date|date:"d.m.Y" }}</option>
                                {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- THE MENU -->
    <section id="shop-page" class="shop-page section">
{#        <div class="tabs-shop tabs-page">#}
{#            <div class="container">#}
{#                <ul class="nav-tabs" role="tablist">#}
{#                    <li class="active menu_item"><a class="font-weight-600 margin-0-20" href="#first_meals" role="tab" data-toggle="tab">Первые блюда</a></li>#}
{#                    <li><a class="menu_item font-weight-600 margin-0-20" href="#second_meals" role="tab" data-toggle="tab">Вторые блюда</a></li>#}
{#                    <li><a class="menu_item font-weight-600 margin-0-20" href="#salads" role="tab" data-toggle="tab">Салаты</a></li>#}
{#                    <li><a class="menu_item font-weight-600 margin-0-20" href="#drinks" role="tab" data-toggle="tab">Напитки</a></li>#}
{#                    <li><a class="font-weight-600 margin-0-20" href="#drinks" role="tab" data-toggle="tab">Десерты</a></li>#}
{#                </ul>#}
{##}
{#            </div>#}
{#        </div>#}
        <div class="section-content padding-top-40" id="standart_menu_div">
            <div class="container">
                <div class="tab-menu-content tab-content">
                    <!-- Первые блюда -->
                    <div class="tab-pane fade in active" id="first_meals">
                        <div class="row items">
                            <!-- THE MENU ITEM -->
                            {% for menu in menus %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item border-767-yellow">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="{% url 'complex_menu_details' menu.menu.id %}">
                                            <img src="{% static 'images/menu' %}/{{ menu.menu.image_name }}" alt="" title="Нажмите для подробной информации">
                                        </a>
                                    </div>
                                    <div class="product-body">


                                        <div class="item-price">
                                            <span class="amount">{{ menu.menu.price }}</span>
                                        </div>
                                        <div id="menu_{{ menu.menu.id }}" class="add-to-cart-btn" title="Добавить в корзину">
                                           <div class="display-block awe-btn awe-btn-3 awe-btn-default text-uppercase margin-top-5 margin-bottom-27 padding-4">
                                               <i class="font-size-16 mdi mdi-cart-plus"></i>
                                            </div>
                                        </div>

                                        <div class="item-name">
{#                                            <div class="text-align-center">#}
{#                                                <div class="ribbon ribbon-4">#}
{#                                                    <a class="pp-product-detail sm text-uppercase roboto-400" href="product-detail-popup.html">{{ menu.menu.name }}</a>#}
{#                                                    <h2 class="sm text-uppercase roboto-400">{{ menu.menu.name }}</h2>#}
{#                                                </div>#}
{#                                            </div>#}


                                            <h4 class="sm margin-bottom-10 text-align-center" title="{{ menu.menu.name }}">
                                                <a class="pp-product-detail" href="{% url 'complex_menu_details' menu.menu.id %}">{{ menu.menu.name|truncatechars:22 }}</a>
                                            </h4>

                                        </div>
{#                                        <div class="text-align-center">#}
{#                                            <div class="pricing-hr">#}
{#                                                <span></span>#}
{#                                            </div>#}
{#                                        </div>#}
                                        <div class="categories">
                                            <div class="text-align-center border-top-2-eee">
{#                                                <div class="ribbon ribbon-4">#}
{#                                                    <h2 class="sm text-uppercase roboto-400 font-size-15">блюда</h2>#}
{#                                                </div>#}
                                            </div>
                                            <ul>
                                                {% for meal in menu_meals %}
                                                    {% if meal.menu.id == menu.menu.id %}
                                                        <li title="Нажмите для подробной информации"><a class="pp-product-detail"    href="{% url 'product_details_complex' meal.meal.id %}"><i class="icon awe_check"></i>{{ meal.meal.name }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END / THE MENU -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 Ambrosia Restaurant
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->

{#    {% include 'product-detail-popup.html' %}#}


{% endblock %}

{% block script %}
    <script>

{#        {% if redirect %}#}
{#            window.location.href= '/{{ redirect }}';#}
{#        {% endif %}#}


    function add_to_cart(meal_id, meal_qnt, menu_id) {
        var cart_id = '';
        if ($.cookie('cart_id')){
            cart_id = $.cookie('cart_id');
        }else {
            cart_id = 'no_cart';
        }
        if ($('#complex-menu-id').text() != ''){
            menu_id = $('#complex-menu-id').text().match(/\d+/)[0];

        }
        console.log('menu id = ' + menu_id[0]);

        add_csrf();
        $.ajax({
            url: '{% url 'add_to_cart' %}',
            type: 'POST',
            data: JSON.stringify({
                        'menu_id': menu_id,
                        'meal_id': meal_id,
                        'cart_id': cart_id,
                        'meal_qnt': meal_qnt,
                        'menu_date': $('#menu_date').val()
                    }),
            processData: false,
            contentType: false,
            error: function(data){
                swal({
                    title: 'Ошибка сервера',
                    text: 'Возникла ошибка при сохранении. Попробуйте позже.',
                    type: 'error'
                });
            },
            success:function (data) {
                var data_json = $.parseJSON(data);
                var response = data_json['response'];
                console.log(response)

                if (!response['no_data']) {

                    var item_type = response['item_type'];
                    var total_amount = parseFloat(response['total_amount']);
                    var cart_meals_qnt = response['cart_meals_qnt'];
                    var min_sum = parseFloat(response['min_sum']);
                    var cart_id = response['cart_id'];

                    if (item_type == 'meal'){
                        var meal_id = response['meal_id'];
                        var meal_price = response['meal_price'];
                        var meal_qnt = response['meal_qnt'];
                        var meal_sum = response['meal_sum'];
                        var meal_img = response['meal_img'];
                        var meal_name = response['meal_name'];
                        var item_name = meal_name;
                        var img_url = '/static/images/meals/' + meal_img;


                        if (meal_name.length > 15){
                            meal_name = $.trim(meal_name).substring(0, 15).trim(this) + '...';
                        }

                    }else {
                        var meal_price = response['menu_price'];
                        var meal_qnt = response['menu_qnt'];
                        var menu_sum = response['menu_sum'];
                        var menu_img = response['menu_img'];
                        var menu_name = response['menu_name'];
                        var meal_id = response['menu_id'];
                        var item_name = menu_name;
                        var img_url = '/static/images/menu/' + menu_img;
                        if (menu_name.length > 15){
                            item_name = $.trim(menu_name).substring(0, 15).trim(this) + '...';
                        }

                    }


{#                    console.log(min_sum)#}


                    if ($.cookie('cart_id') != cart_id){
                        $.cookie('cart_id', cart_id, {path: '/'});
            {#            console.log(cart_id);#}
                    }

{#                    console.log('meal qnt = ' + $('#cart_meal_id_' + meal_id).length);#}
                    if ($('#minicart_' + item_type + '_id_' + meal_id).length == 0){
                        $('.minicart-list').append('<li id="minicart_' + item_type + '_id_' + meal_id + '"><div class="product-thumb"><img class="width-40" src="' + img_url + '" alt=""></div><div class="product-name">' + item_name + '</div><div class="qty-wrap"><span class="product-quantity"><span id="minicart_' + item_type + '_qnt_' + meal_id + '" class="quantity">' + meal_qnt + '</span> * </span><span class="amount">' + meal_price + '</span></div><div class="product-remove"><i class="icon awe_close minicart_del_meal font-size-10 pointer-pure"></i></div></li>').show();
                    }else {
                        $('#minicart_' + item_type + '_qnt_' + meal_id).text(meal_qnt);
                    }
                    $('#cart_sum').text(total_amount.toFixed(2));
                    $('#cart_label_amount').text(total_amount.toFixed(2)).animateCss('bounceIn');
                    $('#cart_label_qnt').text(cart_meals_qnt).animateCss('bounceIn');
                    console.log('min_sum = ' + min_sum + ' amount = ' + total_amount);

                    if (min_sum <= total_amount){
                        console.log('заказ');
                        $('#minicart-btn-div').removeClass('no-order-btn-minicart').addClass('order-btn-minicart');
                        $('.warn-amount').hide();

                    }else {
                        console.log('нет заказа');

                        $('#minicart-btn-div').removeClass('order-btn-minicart').addClass('no-order-btn-minicart');
                        $('.warn-amount').show();
                    }
{#                    noty({#}
{#                        template: '<div class="noty_message">Товар: ' + meal_name + ' Успешно добавлен в корзину<span class="noty_text">sss</span><div class="noty_close"></div></div>',#}
{#                        type: 'success',#}
{#                        layout: 'bottomRight',#}
{#                        timeout: 3000,#}
{#                        progressBar: true,#}
{##}
{#                    });#}

                    $.notiny({ text: 'Позиция: ' + item_name + ' добавлена в корзину',
                        image: img_url
                    });

                    if ($('#minicart-ul li').length > 3){
                        $('#minicart-ul').addClass('height-210');
                    }
                    $('.mfp-close').click();
                }
            }
        });

    }



$(document).ready(function() {


    $('.pp-product-detail').magnificPopup({
        mainClass: 'mfp-fade',
        type:'ajax',
    });

    $('.home').on('click', '.minus', function () {
        if ($(this).next().val() > 1){
            var qnt_before = parseInt($(this).next().val());
            var qnt = qnt_before - 1;
            $(this).next().val(qnt);
        }
    });
    $('.home').on('click', '.plus', function () {
        var qnt_before = parseInt($(this).prev().val());
        var qnt = qnt_before + 1;
        $(this).prev().val(qnt);
    });

    $('.home').on('click', '.add-to-cart', function () {
        var meal_id_split = $(this).attr('id').split('_');
        add_to_cart(meal_id_split[3], $(this).parent().find('.qty').val())
    })


});
{#    $('.product-detail-page').magnificPopup({type:'image'});#}

    $.fn.extend({
    animateCss: function (animationName) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        this.addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass('animated ' + animationName);
        });
    }
    });

{#    проверка первоначального состояния корзины#}
    function check_cart() {
        if ($.cookie('cart_id')){
            var cart_id = $.cookie('cart_id');
            add_csrf();
            $.ajax({
                url: '{% url 'check_cart' %}',
                type: 'POST',
                data: JSON.stringify({
                            'cart_id': cart_id
                        }),
                processData: false,
                contentType: false,
                error: function(data){
                    swal({
                        title: 'Ошибка сервера',
                        text: 'Возникла ошибка при сохранении. Попробуйте позже.',
                        type: 'error'
                    });
                },
                success:function (data) {
                    var data_json = $.parseJSON(data);
                    var cart_meals = data_json['cart_meal'];
                        console.log(data)

                    var menu_date = data_json['menu_date'];
                    var allowed_menu = data_json['allowed_menu'];
                    var date_redirected = data_json['date_redirected'];
                    if (allowed_menu == 1){
                        {% if not date_redirected %}
                            window.location.href = '/{{ url_redirect }}/' + menu_date;
                        {% endif %}
                    }else {
                        $.removeCookie('cart_id', {path: '/'});
                        var redirect = data_json['redirect'];
                        console.log(data)
                        window.location.href = '/complex_standart_menu_by_date/' + redirect;
                    }
                    if (cart_meals != 0){
                        if (cart_meals.length > 0) {
                            for (var i=0; i < cart_meals.length; i++){
                                var meal_price = cart_meals[i]['meal_price'];
                                var meal_qnt = cart_meals[i]['meal_qnt'];
                                var meal_sum = cart_meals[i]['meal_sum'];
                                var meal_img = cart_meals[i]['meal_img'];
                                var meal_name = cart_meals[i]['meal_name'];
                                var meal_id = cart_meals[i]['meal_id'];
                                var meal_img_url = cart_meals[i]['meal_img_url'];
                                var item_type = cart_meals[i]['item_type'];



                                    $('.minicart-list').append('<li id="minicart_' + item_type + '_id_' + meal_id + '"><div class="product-thumb"><img class="width-40" src="' + '/static/images/' + meal_img_url + '/' + meal_img + '" alt=""></div><div class="product-name">' + meal_name + '</div><div class="qty-wrap"><span class="product-quantity"><span id="minicart_' + item_type + '_qnt_' + meal_id + '" class="quantity">' + meal_qnt + '</span> * </span><span class="amount">' + meal_price + '</span></div><div class="product-remove"><i class="icon awe_close minicart_del_meal font-size-10 pointer-pure"></i></div></li>');

                            }

                                var total_amount = parseFloat(data_json['cart_amount']);
                                var cart_meals_qnt = data_json['cart_meals_qnt'];
                                var min_sum = parseFloat(data_json['min_sum']);

                                $('#cart_label_amount').text(total_amount.toFixed(2));
                                $('#cart_sum').text(total_amount.toFixed(2));
                                $('#cart_label_qnt').text(cart_meals_qnt).animateCss('bounceIn');
                                if (min_sum <= total_amount){
                                    $('#minicart-btn-div').removeClass('no-order-btn-minicart').addClass('order-btn-minicart');
                                    $('.warn-amount').hide();

                                }else {
                                    $('#minicart-btn-div').removeClass('order-btn-minicart').addClass('no-order-btn-minicart');
                                    $('.warn-amount').slideDown(1000);

                                }

                        }
                    }else {
                        $.removeCookie('cart_id', {path: '/'});
                    }
                    if ($('#minicart-ul li').length > 3){
                        $('#minicart-ul').addClass('height-210');
                    }
                    $('.preloader').addClass('load-anim');


                }
            });


        }else {
            cart_id = 'no_cart';
            {% if redirect %}
            window.location.href = '/complex_standart_menu_by_date/{{ redirect }}';
            {% endif %}
        }

    }

    check_cart();


        $('#menu_date').on('change', function () {
            $.removeCookie('cart_id', {path: '/'});
            window.location.href = '/complex_standart_menu_by_date/' + $(this).val();
        });




{#удаление товара из корзины#}
    $('.minicart-list').on('click', '.minicart_del_meal', function () {
{#        var tempScrollTop = $(window).scrollTop();#}
        var meal_to_delete = $(this).parent().parent().parent();
        var cart_id = '';
        if ($.cookie('cart_id')){
            cart_id = $.cookie('cart_id');
{#            console.log(cart_id);#}
        }else {
            cart_id = 'no_cart';
        }
        add_csrf();
        $.ajax({
            url: '{% url 'del_from_minicart' %}',
            type: 'POST',
            data: JSON.stringify({
                        'meal_id': $(this).parent().parent().attr('id'),
                        'cart_id': cart_id
                    }),
            processData: false,
            contentType: false,
            error: function(data){
                swal({
                    title: 'Ошибка сервера',
                    text: 'Возникла ошибка при сохранении. Попробуйте позже.',
                    type: 'error'
                });
            },
            success:function (data) {
                var data_json = $.parseJSON(data);
                var response = data_json['response'];
                var cart_meals_qnt = response['cart_meals_qnt'];
                var min_sum = response['min_sum'];

                if (!response['no_data']) {
{#                    $(window).scrollTop(tempScrollTop);#}
                    var meal_id = response['meal_id'];
                    var type = response['type'];
                    var total_amount = response['total_amount'];
                    $('#minicart_' + type + '_id_' + meal_id).slideUp(1000, function () {
                        $('#minicart_' + type + '_id_' + meal_id).remove();
                    });
                    $('#cart_sum').text(total_amount);
                    $('#cart_label_amount').text(total_amount).animateCss('bounceIn');
                    $('#cart_label_qnt').text(cart_meals_qnt).animateCss('bounceIn');
{#                    console.log('minicart-ul li = ' + $('#minicart-ul li').length);#}
                    if ($('#minicart-ul li').length <= 3){
{#                        console.log('meal <= 3');#}
                        $('#minicart-ul').removeClass('height-210');
                    }
                    if (min_sum <= parseFloat(total_amount)){
                        $('#minicart-btn-div').removeClass('no-order-btn-minicart').addClass('order-btn-minicart');
                        $('.warn-amount').hide();

                    }else {
                        $('#minicart-btn-div').removeClass('order-btn-minicart').addClass('no-order-btn-minicart');
                        $('.warn-amount').slideDown(1000);

                    }

                }
            }
        });


    });




{#добваление товара в корзину#}
    $('.add-to-cart-btn').on('click', function () {

        var menu_id_split = $(this).attr('id').split('_');
       console.log(menu_id_split[1]);

        add_to_cart('', 1, menu_id_split[1]);

    });

    $('.menu_item').on('click', function () {
        if ($(window).width() <= 992){
            $('html, body').animate({
                scrollTop: $('#standart_menu_div').offset().top}, 1000)
        }
    })
    
    </script>

{% endblock %}