{% load staticfiles %}

                            {% for place in places %}
                            <!-- POST -->
                            <div class="post post-single place" id="place_{{ place.id }}">
                                <div class="post-media">
                                    <div class="image-wrap">
                                        <img src="{% static 'images/places/' %}{{ place.main_image }}" alt="">
                                    </div>
                                </div>
                                <div class="post-body">
                                    <div class="tags">
                                        <div class="tagcloud">
                                        </div>
                                    </div>
                                    <div class="post-title">
                                        <h3 class="xmd"><a href="{% url 'place_details' place.id %}">{{ place.name }}</a></h3>
                                    </div>
                                    <div class="post-content">
                                        <p>{{ place.description|truncatechars_html:115|safe }}</p>
                                    </div>
                                    <div class="post-footer">
                                        <div class="awe-btn awe-btn-2 awe-btn-default text-uppercase">
                                            <a href="{% url 'place_details' place.id %}" class="">Далее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END / POST -->
                            {% endfor %}
