{% load staticfiles %}



<div class="product-detail-page">
    <div class="row">
        <div class="col-sm-5">
            <div class="product-page-slider">
                {% for meal_img in meal_imgs %}
                <div class="item"><img src="{% static 'images/meals' %}/{{ meal_img.image_name }}" alt=""></div>
                {% endfor %}
{#                <div class="item"><img src="images/shop/img-1.jpg" alt=""></div>#}
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-detail-content">
                <h3 class="lg margin-top-10 head-style roboto-300">{{ meal.name }}</h3>
{#                <h4 class="xmd roboto-300 font-size-22 head-style"></h4>#}
                <div class="categories" style="max-width: 100%">
                    <ul>
                        {% for ingredient in meal_ingredients %}
                        <li class="font-size-15" style="margin-right: 15px">{{ ingredient.ingredient.icon|safe }} {{ ingredient.ingredient.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="head-style" style="padding-bottom: 0; margin-bottom: 10px"></div>
                <div class="product-desc">
                    <p>{{ meal.description }}</p>
{#                    <div class="ingredient">#}
{#                        <p><strong>Ingredient :</strong> Leberkas ham sausage doner pastrami porchetta tri-tip boudin shankle. Meatball shoulder rump spare ribs tongue venison short ribs.</p>#}
{#                    </div>#}
                </div>
{#                <div class="sizes font-size-20">#}
{#                    <h5>{{ meal.price }} руб.</h5>#}
{#                    <p>{{ meal.price }} руб.</p>#}
{#                </div>#}
{#                <div class="quantity-wrap">#}
{#                    <h6>Количество</h6>#}
{#                    <div class="quantity">#}
{#                        <input type="button" value="-" class="minus">#}
{#                        <input type="number" value="1" class="qty">#}
{#                        <input type="button" value="+" class="plus">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="add-to-cart" id="pd_meal_id_{{ meal.id }}">#}
{#                    <a href="#" class="col-lg-4 col-xs-12 awe-btn awe-btn-3 awe-btn-default text-uppercase" style="padding: 10px; color: #262626">В корзину</a>#}
{#                </div>#}

            </div>
        </div>
    </div>
</div>



{#<script>#}
{#    // PRODUCT SLIDER#}
{#    if ($('.product-page-slider').length) {#}
{#        $(".product-page-slider").owlCarousel({#}
{#            autoPlay: 10000,#}
{#            navigation: false,#}
{#            slideSpeed: 300,#}
{#            transitionStyle: 'fade',#}
{#            singleItem:true,#}
{#            pagination: true#}
{#        });#}
{#    }#}
{#    $.each($('.awe-btn'), function() {#}
{#        var classtype = $(this).attr("class");#}
{#        $(this)#}
{#            .wrap('<div class="' + classtype +'"></div>')#}
{#            .removeClass();#}
{#    });#}
{#</script>#}
